.red-text {
    color: red;
}

.green-text {
    color: green;
}

.dodgerblue-text {
    color: dodgerblue;
}

.goldenrod-text {
    color: goldenrod
}

.purple-text {
    color: purple
}

.brown-text {
    color: brown
}

.highlight-console pre {
    font-size: 14px;
    font-family: "Consolas", monospace
}

code {
    font-family: "Consolas", monospace;
    color:dodgerblue
}

.scrollable-code-block {
    max-height: 500px; /* adjust as necessary */
    overflow-y: scroll;
}

.table-header-centered th {
    text-align: center;
}

collapse_header {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Consolas', monospace;
    color:dodgerblue;
    font-size: 0.9em;
    line-height: 1.4;
    overflow-x: auto; /* for horizontal scrolling */
    padding: 0.3em;
}