.red-text {
    color: red;
}

.green-text {
    color: green;
}

.dodgerblue-text {
    color: dodgerblue;
}

.goldenrod-text {
    color: goldenrod
}

.purple-text {
    color: purple
}

.brown-text {
    color: brown
}

.highlight-console pre {
    font-size: 14px;
    font-family: "Consolas", monospace
}

code {
    font-family: "Consolas", monospace;
    color:dodgerblue
}

.scrollable-code-block {
    max-height: 500px; /* adjust as necessary */
    overflow-y: scroll;
}

.table-header-centered th {
    text-align: center;
}

collapse_header {
    font-family: "Consolas", monospace;
    color:dodgerblue;
    background-color: #f8f8f8; /* Light grey background, common for inline code */
    padding: 2px 4px;
    border-radius: 4px;
}

collapse_header2 {
    font-family: "Consolas", monospace;
    background-color: #f8f8f8; /* Light grey background, common for inline code */
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid #e1e4e8; /* Light grey border */
}


